.abstract-toggle {
  margin-left: 2em !important;
  font-size: 0.85em !important;

  summary {
    cursor: pointer;
  }

  p {
    margin-left: 1em !important;
    font-size: 0.85em !important;
  }
}
